*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #EEEEEE;
    font-family: arial
}


.main-mast{
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
    position: relative;
    gap: 40px;
}

.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 190px;
    gap: 15px;
   background-color: #21869d;
   color: white;
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #3D9DB3 solid 1px;
    padding: 50px;
    gap: 50px;
    border-radius: 30px;
   
}

.button-{
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
    background-color: #3D9DB3;
    color: white;
    width: 110px;
    height: 30px;
}